In [2]:
import pandas as pd

In [10]:
df = pd.read_csv('time.csv')

In [12]:
df_filtered = df[df['time'] > '2019']
print(df_filtered)

                                                   link  \
0                                                  link
1                                                  link
2                                                  link
3                                                  link
5     https://www.outsideonline.com/1960011/inside-m...
...                                                 ...
1772  http://blog.emoryadmission.com/2016/10/strong-...
1774  https://www.esquire.com/news-politics/a23960/j...
1776  https://www.thenation.com/article/archive/repo...
1777  https://www.penguin.co.uk/articles/2020/06/jam...
1778  http://www.esquire.com/sports/a5151/the-string...

                           time
0                             t
1                             i
2                             m
3                             e
5     2023-07-03T11:37:12-06:00
...                         ...
1772  2019-07-28T18:56:07-04:00
1774     Published: Aug 2, 2017
1776              July 11, 1966
1777                 2020-06-10
1778    Published: Sep 17, 2008

[1197 rows x 2 columns]

In [13]:
df_filtered.describe()

,link,time
count,1197,1197
unique,223,483
top,http://nymag.com/intelligencer/2019/02/book-ex...,2022-08-16T01:44:09.000Z
freq,78,16

In [14]:
df_filtered = df_filtered.drop_duplicates(subset='link')
print(df_filtered)

                                                   link  \
0                                                  link
5     https://www.outsideonline.com/1960011/inside-m...
7             http://www.outsideonline.com/1823786/book
11    https://www.outsideonline.com/outdoor-adventur...
13    https://www.bicycling.com/rides/a31245986/two-...
...                                                 ...
1771  http://blog.emoryadmission.com/2016/10/strong-...
1774  https://www.esquire.com/news-politics/a23960/j...
1776  https://www.thenation.com/article/archive/repo...
1777  https://www.penguin.co.uk/articles/2020/06/jam...
1778  http://www.esquire.com/sports/a5151/the-string...

                                      time
0                                        t
5                2023-07-03T11:37:12-06:00
7                2021-06-29T17:33:49-06:00
11               2022-02-24T11:29:51-07:00
13    Published: Mar 26, 2020 10:39 AM EDT
...                                    ...
1771             2019-07-27T03:35:08-04:00
1774                Published: Aug 2, 2017
1776                         July 11, 1966
1777                            2020-06-10
1778               Published: Sep 17, 2008

[223 rows x 2 columns]

In [15]:
df_filtered.to_csv('filtered_data.csv', index=False)

In [16]:
years_to_remove = ['2020', '2021', '2022', '2023', '2024', '2025']
pattern = '|'.join(years_to_remove)
df_filtered = df_filtered[~df_filtered['time'].str.contains(pattern)]
print(df_filtered)

                                                   link  \
0                                                  link
14    https://www.newyorker.com/news/dispatch/the-in...
27    http://www.esquire.com/features/the-restless-m...
28    http://www.esquire.com/features/ESQ0704-JULY_A...
54    https://www.nytimes.com/interactive/2019/03/20...
...                                                 ...
1767  https://www.oprahdaily.com/life/relationships-...
1771  http://blog.emoryadmission.com/2016/10/strong-...
1774  https://www.esquire.com/news-politics/a23960/j...
1776  https://www.thenation.com/article/archive/repo...
1778  http://www.esquire.com/sports/a5151/the-string...

                                     time
0                                       t
14              2019-05-23T09:00:00-04:00
27                Published: Jan 29, 2007
28                Published: Jan 29, 2007
54                             2019-03-21
...                                   ...
1767  Published: Oct 16, 2019 2:38 PM EDT
1771            2019-07-27T03:35:08-04:00
1774               Published: Aug 2, 2017
1776                        July 11, 1966
1778              Published: Sep 17, 2008

[86 rows x 2 columns]

In [17]:
df_filtered.to_csv('filtered_data.csv', index=False)